<!DOCTYPE html>
<html>
<head>
  <title>Upload new photos</title>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0"/>
  <style>
    html {
      background-color:steelblue;
      font-family: Courier New, monospace;
    }

    div.preview {
      width: 600px;
      background: #ccc;
      margin: 0 auto;
      padding: 20px;
      border: 1px solid black;
    }

    div.submissions {
      border: 10px dotted green;
    }

    img {
      height: 200px;
    }
    ul {
      list-style: none;
    }
  </style>
</head>
<body>
  <title>Thanks for submitting!</title>
  <div class="preview">
    {% if messages %}
      <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    {% if uploads %}
      <h1>Submissions successful:</h1>
      <div class='submissions'>
        <ul>
          {% for upload in uploads %}
            <li><img src="{{ upload }}" height="250"></li>
          {% endfor %}
        </ul>
      </div>
      <h3><a href="{{ upload_url }}">Submit more!</a></h3>
    {% endif %}
</body>
</html>
